<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.streama.mappers.UserFocusMapper">
	<!--实体映射-->
	<resultMap id="base_result_map" type="com.streama.entity.po.UserFocus">
		<!-- 用户ID -->
		<result column="user_id" property="userId" />
		<!-- 用户ID -->
		<result column="focus_user_id" property="focusUserId" />
		<!--  -->
		<result column="focus_time" property="focusTime" />
	</resultMap>

	<!--通用查询结果列-->
	<sql id="base_column_list">
		u.user_id,u.focus_user_id,u.focus_time
	</sql>

	<!--基础查询条件-->
	<sql id="base_query_condition">
		<if test="query.userId != null and query.userId != ''">
			and u.user_id = #{query.userId}
		</if>
		<if test="query.focusUserId != null and query.focusUserId != ''">
			and u.focus_user_id = #{query.focusUserId}
		</if>
		<if test="query.focusTime != null">
			and u.focus_time = #{query.focusTime}
		</if>
	</sql>

	<!--扩展查询条件-->
	<sql id="base_query_condition_extend">
		<if test="query.userIdFuzzy != null and query.userIdFuzzy != ''">
			 and u.user_id like concat('%',#{query.userIdFuzzy},'%')
		</if>
		<if test="query.focusUserIdFuzzy != null and query.focusUserIdFuzzy != ''">
			 and u.focus_user_id like concat('%',#{query.focusUserIdFuzzy},'%')
		</if>
		<if test="query.focusTimeStart != null and query.focusTimeStart != ''">
			<![CDATA[ and u.focus_time >= str_to_date(#{query.focusTimeStart},'%Y-%m-%d') ]]>
		</if>
		<if test="query.focusTimeEnd != null and query.focusTimeEnd != ''">
			<![CDATA[ and u.focus_time < date_sub(str_to_date(#{query.focusTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
		</if>
	</sql>

	<!--通用查询条件-->
	<sql id="query_condition">
		<where>
			<include refid="base_query_condition" />
			<include refid="base_query_condition_extend" />
		</where>
	</sql>

	<!--查询列表-->
	<select id="selectList" resultMap="base_result_map">
		SELECT
		<include refid="base_column_list" />
		<if test="query.queryType != null">
			,i.nick_name otherNickName, i.user_id otherUserId, i.person_introduction otherPersonIntroduction, i.avatar otherAvatar
			,(select count(1) from user_focus f where u.user_id = f.focus_user_id and u.focus_user_id = f.user_id) focusType
		</if>

		FROM user_focus u
		<if test="query.queryType == 0">
			inner join user_info i on u.focus_user_id = i.user_id
		</if>
		<if test="query.queryType == 1">
			inner join user_info i on u.user_id = i.user_id
		</if>

		<include refid="query_condition" />
		<if test = "query.orderBy != null">
			order by #{query.orderBy}
		</if>
		<if test = "query.simplePage != null">
			limit #{query.simplePage.start}, #{query.simplePage.end}
		</if>
	</select>

	<!--查询数量-->
	<select id="selectCount" resultType="java.lang.Integer">
		SELECT count(1) FROM user_focus u <include refid="query_condition" />
	</select>

	<!--插入（匹配有值的字段）-->
	<insert id="insert" parameterType="com.streama.entity.po.UserFocus">
		INSERT INTO user_focus
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.userId != null">
				user_id,
			</if>
			<if test="bean.focusUserId != null">
				focus_user_id,
			</if>
			<if test="bean.focusTime != null">
				focus_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.userId != null">
				#{bean.userId},
			</if>
			<if test="bean.focusUserId != null">
				#{bean.focusUserId},
			</if>
			<if test="bean.focusTime != null">
				#{bean.focusTime},
			</if>
		</trim>
	</insert>

	<!--插入或者更新（匹配有值的字段）-->
	<insert id="insertOrUpdate" parameterType="com.streama.entity.po.UserFocus">
		INSERT INTO user_focus
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.userId != null">
				user_id,
			</if>
			<if test="bean.focusUserId != null">
				focus_user_id,
			</if>
			<if test="bean.focusTime != null">
				focus_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.userId != null">
				#{bean.userId},
			</if>
			<if test="bean.focusUserId != null">
				#{bean.focusUserId},
			</if>
			<if test="bean.focusTime != null">
				#{bean.focusTime},
			</if>
		</trim>
		on DUPLICATE key update
		<trim prefix="" suffix="" suffixOverrides=",">
			<if test="bean.focusTime != null">
				focus_time = #{bean.focusTime},
			</if>
		</trim>
	</insert>

	<!--批量插入-->
	<insert id="insertBatch" parameterType="com.streama.entity.po.UserFocus">
		INSERT INTO user_focus(user_id,focus_user_id,focus_time)values
		<foreach collection="list" item="item" separator=",">
			(#{item.userId},#{item.focusUserId},#{item.focusTime})
		</foreach>
	</insert>

	<!--批量插入或更新-->
	<insert id="insertOrUpdateBatch" parameterType="com.streama.entity.po.UserFocus">
		INSERT INTO user_focus(user_id,focus_user_id,focus_time)values
		<foreach collection="list" item="item" separator=",">
			(#{item.userId},#{item.focusUserId},#{item.focusTime})
		</foreach>
		ON DUPLICATE KEY UPDATE
		user_id = VALUES(user_id),focus_user_id = VALUES(focus_user_id),focus_time = VALUES(focus_time)
	</insert>

	<!-- 根据UserIdAndFocusUserId查询-->
	<select id="selectByUserIdAndFocusUserId" resultMap="base_result_map">
		SELECT <include refid="base_column_list"/> FROM user_focus u WHERE u.user_id=#{userId} and u.focus_user_id=#{focusUserId}
	</select>

	<!-- 根据UserIdAndFocusUserId更新-->
	<update id="updateByUserIdAndFocusUserId" parameterType="com.streama.entity.po.UserFocus">
		UPDATE user_focus
		<set>
			<if test="bean.userId != null">
				user_id = #{bean.userId},
			</if>
			<if test="bean.focusUserId != null">
				focus_user_id = #{bean.focusUserId},
			</if>
			<if test="bean.focusTime != null">
				focus_time = #{bean.focusTime},
			</if>
		</set>
		where user_id=#{userId} and focus_user_id=#{focusUserId}
	</update>

	<!-- 根据UserIdAndFocusUserId删除-->
	<delete id="deleteByUserIdAndFocusUserId">
		DELETE FROM user_focus WHERE user_id=#{userId} and focus_user_id=#{focusUserId}
	</delete>

	<select id="selectFansCount" resultType="java.lang.Integer">
		select count(1) from user_focus where focus_user_id = #{userId};
	</select>

	<select id="selectFocusCount" resultType="java.lang.Integer">
		select count(1) from user_focus where user_id = #{userId};
	</select>
</mapper>
